<% visitor = notification.visitor %>
<% post = notification.product %>

<div class="user-view clearfix">
  <%= link_to user_path(notification.visitor) do %>
  <% if visitor.profile.present? %>
    <%= attachment_image_tag visitor, :profile, id:"user_img_prev", :size => '30x30' ,class:'user-image'%>
  <% else %>
    <%= image_tag "/assets/images/user.jpg", id:"user_img_prev", :size => '30x30',class:'user-image' %>
  <% end %>
    <%= visitor.name %>
  <% end %>
    <%= "が"%>
  <% case notification.action %>
    <% when 'favorite' then %>
      <%= link_to notification.product.title, notification.product, style: "font-weight: bold;" %>
      <%= "にいいねしました"%>
      <span class="moderate-font"><%= " (#{time_ago_in_words(notification.created_at)}前)" %></span>
    <% when 'review' then %>
      <%= link_to notification.product.title, notification.product, style: "font-weight: bold;" %>
      <%= "を評価しました"%>
      <span class="moderate-font"><%= " (#{time_ago_in_words(notification.created_at)}前)" %></span>

    <% when 'purchase' then %>
      <%= link_to notification.product.title, notification.product, style: "font-weight: bold;" %>
      <%= "を購入しました"%>
      <span class="moderate-font"><%= " (#{time_ago_in_words(notification.created_at)}前)" %></span>

    <% when 'cancel' then %>
      <%= link_to notification.product.title, notification.product, style: "font-weight: bold;" %>
      <%= "をキャンセルしました"%>
      <span class="moderate-font"><%= " (#{time_ago_in_words(notification.created_at)}前)" %></span>

    <% when 'submit' then %>
      <%= link_to notification.product.title, notification.product, style: "font-weight: bold;" %>
      <%= "の受け取りを完了しました"%>
      <span class="moderate-font"><%= " (#{time_ago_in_words(notification.created_at)}前)" %></span>

    <% when 'message' then %>
      <%= link_to "取引画面", room_path(notification.room.id), style: "font-weight: bold;" %>
      <%= "にメッセージを送りました"%>
      <span class="moderate-font"><%= " (#{time_ago_in_words(notification.created_at)}前)" %></span>
    <% end %>

  <% if !@comment.nil? %>
    <p class="moderate-font"><%= @comment %></p>
  <% end %>
</div>
