<div class="review_well pb-5">
    <p class="reviews-user-font">評価一覧</p>
      <% @reviews.each do |review| %>
        <li class="reviews-user-all">
          <p class="review-user-font text-secondary">評価者</p>
          <p class="review-user-name"><%= link_to review.user.name, review.user%></p>
        </li>
        <div class="row well col-md-4">
          <li class="review-content-all">
            <p class="review-content-font text-secondary"></p>
              <div class="review-content mb-3" style="width: 200px;">
                <span class="text-muted"><%= review.created_at.strftime("%Y年%m月%d日") %></span>
                  <p>評価：<%= review.feeling %> </p>
                  <p style="width: 180px; display: inline-block; word-break: break-all;"><%= review.content %></p>
              </div>
            </li>
            <li class="review-product-all">
              <p class="review-product-font text-secondary pl-2">購入商品</p>
                <%= attachment_image_tag review.product, :picture, class:'review-product-image',:size => '80x80' %>
              <p class="review-product-name"><%= review.product.title %></p>
            </li>
        </div>
      <% end %>
</div>
