<div class="room">
  <h1>取引画面</h1>
</div>

<div>
<h4></h4>
<% @entries.each do |e| %>
  <h5><strong><a href="/users/<%= e.user_id %>"><%= e.user.name%>さん</a></strong></h5>
<% end %>
</div>

<hr>



<% if @messages.present? %>
  <% @messages.each do |m| %>
    <strong><%= m.content %></strong>
    <small>by <strong><a href="/users/<%= m.user_id %>"><%= m.user.name %>さん</a></strong></small>
    <hr>
  <% end %>
<% else %>
  <h4 class="text-center"><b>まだメッセージはありません</b></h4>
<% end %>


<%= form_for @message do |f| %>
  <div class="message pt-5">
  <%= f.text_field :content, :placeholder => "メッセージを入力して下さい", class: "form-control", size:"20x10" %>
  <%= f.hidden_field :room_id, :value => @room.id %>
  </div>
  <br>
  <div class="post">
  <%= f.submit "投稿", class: 'btn btn-primary btn-block pt-1' %>
  </div>
<% if current_user == @product.user %>
    <div class="cancel">
      <%= link_to "取引キャンセル", cancel_path(product_id: @room.product_id, room_id: @room.id), method: :patch, :style=>"color:white;", class: 'btn btn-danger btn', data:{ confirm:"この取引をキャンセルしますか？"}%>
    </div>
<% else %>

    <div class="recieve">
      <%= link_to "受け取り完了", new_review_path(product_id: @room.product_id), :style=>"color:white;", class: 'btn btn-warning btn'%>
    </div>

<% end %>


<% end %>
