<%= search_form_for(@q, url:postsearching_path) do |f| %>
<p class="twitter_search_font">検索</p>
<ul class="searched pl-3">
    <p>
      <%= f.label :content, 'キーワード', {class: 'search_name'} %>
      <%= f.search_field :content_cont, placeholder:" ミクロ経済学", class:'search_field'%>
    </p>

    <p><b class="search_name pr-3">検索タグ</b>
      <%= f.select :info_eq, [['楽単情報'], ['講義情報'], ['試験情報'], ['ゼミ情報'], ['サークル情報'], ['就活情報'], ['その他']] ,{include_blank: '指定なし　　' } %>

    </p>
  <p><%= f.submit "検索する", class:'search_search' %></p>
</ul>



<% end %>
