
  <p class="micropost-name">Twitter for Keio</p>
<div class="micropost row pl-0">
    <aside class="col-sm-5 ">
      <div class="twitter-searching col-md-12">
         <%= render 'microposts/search_form' %>
      </div>
      <div class="twitter-post">
      <%= form_for(@micropost, url: posttweets_path) do |f| %>
        <div class="form-group">
          <%= f.text_area :content, class: 'form-control', rows: 5 , placeholder:"来週、開発経済学の中間テストあるらしい！！"%>
        </div>
        <div class="form-group">
          <%= f.label :info, 'タグ', {class: 'search_tag'}  %>
          <%= f.radio_button :info, '', {:checked => true} %>指定なし
          <%= f.radio_button :info, 1 %>楽単
          <%= f.radio_button :info, 2 %>講義
          <%= f.radio_button :info, 3 %>試験
        </div>
        <%= f.submit '投稿する', :style=>"color:white;", class: 'btn btn-warning btn-block' %>
      <% end %>
    </div>
    </aside>
    <div class="twitter-contents col-sm-7">
      <%= render 'microposts/microposts', microposts: @microposts %>
    </div>
</div>
