 <%= render 'admin/users/search_form' %>

<div id="admin_user_index">
    <div class="aui_content">
        <b class="user_all pr-3">会員一覧</b><span class="user_count badge badge-secondary">総ユーザー数：<%= @counts %>人</span>

            <table border="1">
                <tr>
                    <th width=50>id</th>
                    <th width=280>ユーザー名</th>
                    <th width=300>メールアドレス</th>
                    <th width=100>退会</th>
                </tr>

                <% @users.each do |user|%>
                <tr>
                    <td><%= user.id%></td>
                    <td><%= user.name%></td>
                    <td><%= user.email%></td>
                    <% if current_user == user %>
                      <td>管理者</td>
                    <% elsif user.discarded? %>
                      <td>退会済み</td>
                    <% elsif user.discarded_at.nil? %>
                      <td><%= link_to "退会", admin_user_path(user), method: :delete, "data-confirm" => "本当に退会させますか？"%> </td>
                    <% end %>
                </tr>
                <%end%>
            </table>

    </div>
</div>
<div class="mt-4">
<%= paginate @users %>
</div>
