 <%= render 'admin/users/search_form' %>

<div id="admin_user_index">
    <div class="aui_content">
        <b class="user_all pr-3">会員一覧</b><span class="user_count badge badge-secondary">総ユーザー数：<%= @counts %>人</span>

            <table border="1">
                <tr>
                    <th width=50>id</th>
                    <th width=280>ユーザー名</th>
                    <th width=50>学年</th>
                    <th width=250>メールアドレス</th>
                    <th width=100>退会</th>

                </tr>

                <% @users.each do |user|%>
                <tr>
                    <td><%= user.id%></td>
                    <td><%= user.name%></td>
                    <td><%= user.year%></td>
                    <td><%= user.email%></td>
                    <%# <% if user.destroyed_a.nil? %>
                    <% if current_user.admin? && !(current_user == user)%>
                      <td><%= link_to "退会", admin_user_path(user), method: :delete, "data-confirm" => "本当に退会させますか？"%> </td>
                    <% else %>
                      <td>退会</td>
                    <% end %>
                    <%# <% else %>
                      <%# <td> 退会済み </td> %>
                    <%# <% end %>
                </tr>
                <%end%>
            </table>

    </div>
</div>
<div class="mt-4">
<%= paginate @users %>
</div>
