<div class="products row">
	<% products.each do |product| %>
	<div class="col-md-3 text-center">
      <div id="item-list">
				<div class="product">
					<% if product.chosen == true && product.reviews.present? %>
          <%= link_to image_path product.image  do %>
					<div class="product_sold">
            <%= render 'products/review', review: @review %>
              <li><%= image_tag(product.image.to_s, class:'image',:size => '160x160') %></li>
              <p> sold out </p>
              <li class="home-price">¥<%= product.price %></li>
					</div>
          <% end %>
					<% elsif product.chosen == true && product.reviews.blank?%>
          <%= link_to image_path product.image  do %>
					<div class="product_trading">
            <%= render 'products/review', review: @review %>
              <li><%= image_tag(product.image.to_s, class:'image',:size => '160x160') %></li>
              <p> 取引中 </p>
              <li class="home-price">¥<%= product.price %></li>
					</div>
          <% end %>
					<% else  product.chosen == false %>
        	<div class="product_alive">
            <%= render 'products/review', review: @review %>
            <%= link_to image_path product.image  do %>
              <li><%= image_tag(product.image.to_s, class:'image',:size => '160x160') %></li>
            <% end %>
						<li class="home-price">
							¥<%= product.price %>
						</li>
					</div>
					<% end %>
        	<li class="home-detail">
        		<%= link_to "詳細", "/products/#{product.id}", method: :get, class: 'btn btn-primary ' %>
        		</li>
        </div>
      </div>
  </div>
  <% end %>
	<%= paginate @likes %>
</div>
