<div class="products row">
	<% products.each do |product| %>
	<div class="col-md-3 text-center">
      <div id="item-list">
      	<div class="product">
					<% notification = product.notifications.find_by(action: 'submit') %>
					<% if product.chosen == true && notification.present? %>
					<div class="product_sold">
            <%= render 'products/review', review: @review %>
							<%= attachment_image_tag product, :picture, :size => '180x180' ,class:'image fullscreen-image', id:"product_img_prev"%>
						<p> sold out </p>
						<li class="home-price">
							¥<%= product.price %>
						</li>
					</div>
					<% elsif product.chosen == true && notification.blank?%>
					<div class="product_trading">
            <%= render 'products/review', review: @review %>
							<%= attachment_image_tag product, :picture, :size => '180x180' ,class:'image fullscreen-image', id:"product_img_prev"%>
						<p> 取引中 </p>
						<li class="home-price">
							¥<%= product.price %>
						</li>
					</div>
					<% else  product.chosen == false %>
        	<div class="product_alive">
            <%= render 'products/review', review: @review %>
							<%= attachment_image_tag product, :picture, :size => '180x180' ,class:'image fullscreen-image', id:"product_img_prev"%>
						<li class="home-price">
							¥<%= product.price %>
						</li>
					</div>
					<% end %>
        	<li class="home-detail">
        		<%= link_to "詳細", "/products/#{product.id}", method: :get, class: 'btn btn-primary ' %>
        	</li>
        </div>
      </div>
  </div>
  <% end %>
	<%= paginate @products %>
</div>
