<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <%= form_for (@product) do |f| %>
      <div class="form-group">
        <%= f.label :picture, '商品画像', {class: 'name'} %>
        <div id="img" onClick="$('#product_file').click()">
          <% if @product.picture.present? %>
            <%= attachment_image_tag @product, :picture, id:"product_img_prev", :size => '180x180' %>
          <% else %>
            <%= image_tag "/public/images/noimage.png", id:"product_img_prev", :size => '180x180' %>
          <% end %>
        </div>
        <%= f.attachment_field :picture, class: "image", style: "display:none;", id: "product_file"%>
        <script type="text/javascript">
          $(function() {
            function readURL(input) {
              if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                  $('#product_img_prev').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
              }
            }
            $("#product_file").change(function() {
              readURL(this);
            });
          });
        </script>
      </div>
      <div class="form-group">
      <%= f.label :title, '教科書名', {class: 'name'} %>
      <%= f.text_area :title, class:'form-control', placeholder:"松田道雄と「いのち」の社会主義" %>
      </div>

      <div class="form-group">
      <%= f.label :price, '値段', {class: 'name'} %>
      <%= f.text_area :price, class:'form-control', placeholder:"1000" %>
      </div>

      <div class="form-group">
      <%= f.label :lecture, '教授・講義名', {class: 'name'} %>
      <%= f.text_area :lecture, class:'form-control', placeholder:"高草木・社会思想史" %>
      </div>

      <div class="form-group">
      <%= f.label :university, '学部名', {class: 'name'} %>
      <%= f.text_area :university, class:'form-control', placeholder:"経済学部" %>
      </div>

      <div class="form-group">
      <%= f.label :place, '受け渡し場所', {class: 'name'} %>
      <%= f.text_area :place, class:'form-control', placeholder:"三田キャンパス" %>
      </div>

      <div class="form-group">
      <%=f.label :writing, '状態', {class: 'name'} %>
      <%= f.text_area :writing, class:'form-control', rows: 5 , placeholder:"楽単で有名な高草木の社会思想史です。テストの際に一度だけ使用しただけなのでとても状態は良いかと思います。木曜日の三限が空きコマなのでその時間に三田キャンパスに来れる方が好ましいです。よろしくお願いします。" %>
      </div>

      <%= f.submit '編集完了', class: 'btn btn-primary btn-block mb-5' %>
    <% end %>
  </div>
</div>
