<div class="row m-2">
  <div class="col-sm-6 offset-sm-3">
    <%= form_for @product, url:products_path do |f| %>
      <div class="form-group">
        <%= f.label :image, '商品画像' , {class: 'name'}%>
        <div id="img" onClick="$('#file').click()" >
          <% if @product.image? %>
            <%= image_tag @product.image.url, :size => '180x180' %>
          <% else %>
            <!-- <i class="fas fa-image"></i> -->
            <!-- <i class="fas fa-file-upload add"></i> -->
          <% end %>
        </div>
        <%= f.file_field :image, class: "image", style: "display:none;", id: "file"%>
      </div>
      <div class="form-group">
      <%= f.label :title, '教科書名', {class: 'name'} %>
      <%= f.text_area :title, class:'form-control' %>
      </div>

      <div class="form-group">
      <%= f.label :price, '値段', {class: 'name'} %>
      <%= f.text_area :price, class:'form-control' %>
      </div>

      <div class="form-group">
      <%= f.label :lecture, '講義名', {class: 'name'} %>
      <%= f.text_area :lecture, class:'form-control' %>
      </div>

      <div class="form-group">
      <%= f.label :university, '学部名', {class: 'name'} %>
      <%= f.text_area :university, class:'form-control' %>
      </div>

      <div class="form-group">
      <%= f.label :place, '受け渡し場所' , {class: 'name'} %>
      <%= f.text_area :place, class:'form-control' %>
      </div>

      <div class="form-group">
      <%=f.label :writing, '状態', {class: 'name'} %>
      <%= f.text_area :writing, class:'form-control' , rows: 5 %>
      </div>

      <%= f.submit 'Post', class: 'btn btn-primary btn-block mb-5' %>

    <% end %>
  </div>
</div>
