<div class="m-2">
<table class="table table-bordered col-sm-4">
  <thead>
    <th class="title"><%= @product.title %></th>
  </thead>
  <tbody>
        <tr class="text-center">
          <th>
            <div class="product">
              <% notification = @product.notifications.find_by(action: 'submit') %>
              <% if @product.chosen == true && notification.present? %>
              <div class="product_sold">
                <%= render 'products/review', review: @review %>
                  <%= attachment_image_tag @product, :picture, :size => '180x180' ,class:'image fullscreen-image'%>
                <p> sold out </p>
              </div>
              <% elsif @product.chosen == true && notification.blank?%>
              <div class="product_trading">
                <%= render 'products/review', review: @review %>
                <%= attachment_image_tag @product, :picture, :size => '180x180' ,class:'image fullscreen-image'%>
                <p> 取引中 </p>
                <li class="home-price">
                  ¥<%= @product.price %>
                </li>
              </div>
              <% else  @product.chosen == false %>
              <div class="product_alive">
                <%= render 'products/review', review: @review %>
                    <%= attachment_image_tag @product, :picture, :size => '180x180' ,class:'image fullscreen-image'%>
                <li class="home-price">
                  ¥<%= @product.price %>
                </li>
              </div>
              <% end %>
            </div>
          </th>
        </tr>
        <tr>
          <th>　　　出品者： 　<%= link_to @product.user.name, @product.user %></th>
        </tr>
        <tr>
          <th>　　　講義名： 　<%= @product.lecture %></th>
        </tr>
        <tr>
          <th>　　　学部名：　<%= @product.university %></th>
        </tr>
        <tr>
          <th>　　　受け渡し場所：　<%= @product.place %></th>
        </tr>
        <tr>
          <th class="pb-4"><%= @product.writing %></th>
        </tr>
  </tbody>
</table>

<div class="text-center">
  <ul class="likes">
    <% if current_user == @product.user %>
      <i class="fa fa-heart not-button-heart"></i>
    <% else %>
      <li class="heat"><%= render 'favorites/favorite_button', product: @product %></li>
    <% end %>

    <li class="heat-count"><b><%= @product.favorites.count %></b></li>
    <li class="price">¥<%= @product.price %></li>
  </ul>
</div>

<% notification = @product.notifications.find_by(action: 'submit') %>

<div class="text-center mb-5">
<% if current_user == @product.user %>
  <% if notification.nil?%>
    <%= link_to '編集', "/products/#{@product.id}/edit", :style=>"color:white;", method: :get , class: 'btn btn-warning' %>
    <%= link_to "削除", @product, method: :delete, data: { confirm: "本当にこの商品を削除しますか？" }, :style=>"color:white;", class: 'btn btn-warning' %>

    <% if @currentUserEntry.present? %>
     <% room = Room.find_by(product_id: @product.id) %>
     <%= link_to '取引画面', room_path(room.id), :style=>"color:white;", class: 'btn btn-warning'%>
     <% if current_user.admin? %>
       <%= link_to '編集', "/products/#{@product.id}/edit", :style=>"color:white;", method: :get , class: 'btn btn-warning'%>
       <%= link_to "削除", @product, method: :delete, data: { confirm: "本当にこの商品を削除しますか？" }, :style=>"color:white;", class: 'btn btn-warning' %>
     <% end %>
    <% end %>
  <% else notification.present? %>
    <p class="purchase_font"> 売却済 </p>
    <% if current_user.admin? %>
      <%= link_to '編集', "/products/#{@product.id}/edit", :style=>"color:white;", method: :get , class: 'btn btn-warning'%>
      <%= link_to "削除", @product, method: :delete, data: { confirm: "本当にこの商品を削除しますか？" }, :style=>"color:white;", class: 'btn btn-warning' %>
    <% end %>
  <% end %>
<% else %>
   <% if @isRoom == true && @product.chosen == true %>
    <div class="chat"><a href="/rooms/<%= @roomId %>"> 取引画面へ</a></div>
    <% if current_user.admin? %>
      <%= link_to '編集', "/products/#{@product.id}/edit", :style=>"color:white;", method: :get , class: 'btn btn-warning'%>
      <%= link_to "削除", @product, method: :delete, data: { confirm: "本当にこの商品を削除しますか？" }, :style=>"color:white;", class: 'btn btn-warning' %>
    <% end %>
  <% elsif @isRoom == false && @product.chosen == true && notification.present? %>
      <p class="purchase_font"> 購入済 </p>
      <% if current_user.admin? %>
        <%= link_to '編集', "/products/#{@product.id}/edit", :style=>"color:white;", method: :get , class: 'btn btn-warning'%>
        <%= link_to "削除", @product, method: :delete, data: { confirm: "本当にこの商品を削除しますか？" }, :style=>"color:white;", class: 'btn btn-warning' %>
      <% end %>
  <% elsif @isRoom == false && @product.chosen == true && notification.nil? %>
      <p class="purchase_font"> 取引中 </p>
      <% if current_user.admin? %>
        <%= link_to '編集', "/products/#{@product.id}/edit", :style=>"color:white;", method: :get , class: 'btn btn-warning'%>
        <%= link_to "削除", @product, method: :delete, data: { confirm: "本当にこの商品を削除しますか？" }, :style=>"color:white;", class: 'btn btn-warning' %>
      <% end %>
  <% else  @product.chosen == false %>
    <%= form_for @room do |f| %>
      <%= hidden_field_tag :product_id, @product.id %>
        <%= fields_for @entry do |e| %>
          <%= e.hidden_field :user_id, :value => @user.id %>
          <%= e.hidden_field :product_id, :value => @product.id %>
        <% end %>
        <div class="purchasing_font">
          <%= f.submit "購入する", data:{ confirm:"本当に購入しますか？"} , class: 'btn btn-primary btn-block mb-3 ' %>
        </div>
    <% end %>
    <% if current_user.admin? %>
      <%= link_to '編集', "/products/#{@product.id}/edit", :style=>"color:white;", method: :get , class: 'btn btn-warning'%>
      <%= link_to "削除", @product, method: :delete, data: { confirm: "本当にこの商品を削除しますか？" }, :style=>"color:white;", class: 'btn btn-warning' %>
    <% end %>
  <% end %>
<% end %>
</div>
</div>
