<%= form_for (@review) do |f| %>
<%= hidden_field_tag :product_id, product.id %>

<div class="stars text-center col-md-4">
  <h1>è©•ä¾¡</h1>
  <ul class="star pl-0">
    <li>ðŸ˜Š</li>
    <li>ðŸ™‚</li>
    <li>ðŸ˜¨</li>
  </ul>
  <ul class="star-number pl-0">
    <label for="good"><%= f.radio_button :feeling, "ðŸ˜Š" %></label>
    <label for="normal"><%= f.radio_button :feeling, "ðŸ™‚" %></label>
    <label for="bad"><%= f.radio_button :feeling, "ðŸ˜¨" %></label>
  </ul>
</div>
  <div class="form-group row">
    <%= f.label :content, 'ã‚³ãƒ¡ãƒ³ãƒˆ ', class:'comments col-md-3 col-form-label' %>
    <div class="col-md-9">
      <%= f.text_area :content, class: "form-control", rows: "8",
        placeholder:'ã‚³ãƒ¡ãƒ³ãƒˆãŒãªãã¦ã‚‚ã€è©•ä¾¡ã®ã¿ã§æŠ•ç¨¿ã§ãã¾ã™ã€‚' %>
    </div>
  </div>
  <div class="form-group row justify-content-end">
    <div class="col-md-9">
      <%= f.submit 'æŠ•ç¨¿ã™ã‚‹', :style=>"color:white;", class:"review_post btn btn-primary btn_star" %>
    </div>
  </div>
<% end %>
